

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0f0000;
  line-height: 1.6;
}

header {
  background: #f4fefb;
  color: #201f1f;
  padding: 1rem;
  text-align: center;
  animation: headerColorChange 5s infinite alternate;
}

@keyframes headerColorChange {
  0% { background-color: #485f27; }
  50% { background-color: #826e2a; }
  100% { background-color: #b57328; }
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #f3fefe;
}

ul {
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
}

ul li {
  margin-bottom: 0.7rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

th {
  background-color: #007a52;
  color: white;
}

img {
  max-width: 100%;
  height: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}




@media (max-width: 600px) {
  header, main {
    padding: 1rem;
  }

  nav a {
    display: block;
    margin: 0.5rem 0;
  }
}

button {
  background-color: #007a52;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
}


#message {
  font-weight: bold;
  color: #007a52;
}



.header-image {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}

.header-image img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}

.slider-img {
  height: 500px;
  object-fit: cover;
}

.carousel-caption h2,
.carousel-caption h3 {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
}

footer {
  background-color: #538eca;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
